body {
    text-align: center;
    background-color: rgb(236, 229, 229);
}

table {
    margin: auto;
    /* background-color:gray; */
  
   
}

.board td {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.5s;
}





button {
    margin-top: 1%;
    width: 5%;
}


.timer-container {
    background-color: aliceblue;
    border: 1px solid;
    width: 50px;
    height: 20px;
    margin-bottom: 5px;
    margin-left: 45%;
    display: inline-block;
}

.life {
    margin-right: 45%;
    display: inline-block;
}

.status {
    cursor: pointer;
}

  .showed {
    background-color: white;
}
.cover {
    background-color: gray;
}

.one{
    color:blue;
}
.two{
    color:green;
    font-weight: bold;
}
.three{
    color:orange;
    font-weight: bold;
}
.four{
    color:red;
    font-weight: bolder;
}