body {
    text-align: center;
    background-color: #F1E1A6
}
h1{
    color: #890F0D;
    font-weight: 1000;
}
table {
    margin: auto;
    margin-bottom: 1%;
    
}


.board td {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.5s;
    
}


button {
    /* margin-top:1% ; */
    margin-bottom: 3%;
    width: 8%;
    font-size: larger;
       cursor: pointer;
    background-color: #E83A14;
    color: #F3E9DD;
    border-radius: 15%;
}

button:hover{
    background-color:#F3E9DD ;
    color:#E83A14 ;
}

 .easy { 
    margin-right: 1%;
}

.hard{
    margin-left: 1%;
}

.timer-container {
    background-color: #F3E9DD;
    border: 1px solid;
    width: 70px;
    height: 20px;
    /* margin-bottom: 5px; */
    margin-left: 60%;
    display: flexbox;
    color: #890F0D;
    font-size: larger;
}

.life {
    margin-right: 40%;
    display: inline;
    font-size: x-large;
    display: inline block;
    color: #890F0D;
    margin-bottom: 2%;
    margin-left: 40%;
    font-family: cursive;
  
}


.life span{
    color: red;
}

.status {
    cursor: pointer;
    font-size: xx-large;
}

  .showed {
    background-color: white;
}
.cover {
    background-color: #886F6F;
}

.one{
    color:blue;
    font-size: larger;
}
.two{
    color:green;
    font-weight: bold;
    font-size: larger;
}
.three{
    color:orange;
    font-weight: bold;
    font-size: larger;
}
.four{
    color:red;
    font-weight: bolder;
    font-size: larger;
}
.five{
    color:red;
    font-weight: bolder;
    font-size: larger;
}


.hint-container{
    cursor: pointer;
    margin-bottom: 4%;
    font-size: x-large;
    color: #890F0D;
    font-family: cursive;
    
}

.safe{
    background-color: #E83A14;
}

